---
import Toast from "@/components/Toast.astro";
---
<div class="flex justify-content-center absolute top left right">
  <div class="p-300">
    <Toast title="Message Sent!">
      Thanks for completing the form. We'll be in touch soon!
    </Toast>
  </div>
</div>
