<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
    <base href={import.meta.env.BASE_URL} />

    <title>Contact form</title>
    <link rel="stylesheet" href="./index.D3sMg-ne.css">
  </head>
  <body class="body" data-variant="app">
    <div id="app"></div>
    <script>
      import { Elm } from "@/elm/Main.elm";

      Elm.Main.init({
        node: document.getElementById("app")
      });
    </script>
  </body>
</html>
