@use "colors";
@use "spacing" as *;
@use "typography";

.button {
  appearance: none;
  border: none;
  cursor: pointer;

  border-radius: 8px;
  padding: s(200) s(500);

  background: colors.$green-600;
  color: colors.$white;

  @include typography.body-m-bold;

  &:hover {
    background:
      linear-gradient(
        rgba(0, 0, 0, 50%),
        rgba(0, 0, 0, 50%)
      ),
      colors.$green-600;
  }
}
