@use "colors";
@use "spaces";
@use "typography";

.button {
  appearance: none;
  border: none;
  cursor: pointer;

  border-radius: spaces.get-space(100);
  padding: spaces.get-space(200) spaces.get-space(500);

  background: colors.get-color("green-600");
  color: colors.get-color("white");

  @include typography.body-m-bold;

  &:hover {
    background:
      linear-gradient(
        rgba(0, 0, 0, 50%),
        rgba(0, 0, 0, 50%)
      ),
      colors.get-color("green-600");
  }
}
