@use "colors";
@use "spacing" as *;
@use "typography";

.checkbox-field {
  display: flex;
  align-items: center;
  gap: s(200);

  cursor: pointer;

  color: colors.$grey-900;

  @include typography.body-s;
}
