@use "spacing" as *;

.group {
  display: flex;
  flex-direction: column;
  gap: s(200);

  min-width: fit-content;

  & > * {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .group {
    flex-direction: row;
  }
}
