@use "mixins";

.input[type="text"],
.input[type="email"] {
  @include mixins.text-control;
}

$-size: 24px;

.input[type="checkbox"],
.input[type="radio"] {
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  display: flex;
  min-width: $-size;
  width: $-size;
  height: $-size;

  background-position: center;
  background-repeat: no-repeat;
}

.input[type="checkbox"] {
  background-image: url("assets/checkbox-unselected.svg");

  &:checked {
    background-image: url("assets/checkbox-selected.svg");
  }
}

.input[type="radio"] {
  background-image: url("assets/radio-unselected.svg");

  &:checked {
    background-image: url("assets/radio-selected.svg");
  }
}
