@use "colors";
@use "spacing" as *;

.input[type="text"] {
  appearance: none;
  margin: 0;

  border-radius: 8px;
  border: 1px solid colors.$grey-500;
  padding: s(150) s(300);

  background-color: colors.$white;
  color: colors.$grey-900;

  &[data-state="dirty"][data-validity="valid"] {
    border-color: colors.$green-600;
  }

  &[data-state="dirty"][data-validity="invalid"] {
    border-color: colors.$red;
  }

  &:hover, &:focus-visible {
    outline: 1px solid colors.$green-600;
    outline-offset: -1px;
  }

  &[data-state="dirty"][data-validity="invalid"]:hover,
  &[data-state="dirty"][data-validity="invalid"]:focus-visible {
    outline-color: colors.$red;
  }
}

.input[type="checkbox"], .input[type="radio"] {
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  width: 24px;
  height: 24px;

  background-position: center;
  background-repeat: no-repeat;
}

.input[type="checkbox"] {
  background-image: url("assets/checkbox-unselected.svg");

  &:checked {
    background-image: url("assets/checkbox-selected.svg");
  }
}

.input[type="radio"] {
  background-image: url("assets/radio-unselected.svg");

  &:checked {
    background-image: url("assets/radio-selected.svg");
  }
}
