@use "colors";
@use "spaces";
@use "typography";

.labelled-checkbox {
  display: flex;
  align-items: center;
  gap: spaces.get-space(200);

  color: colors.get-color("grey-900");

  @include typography.body-s;

  cursor: pointer;
}
