@use "colors";
@use "spaces";
@use "typography";

.label {
  display: flex;
  gap: spaces.get-space(100);

  white-space: nowrap;
  min-width: max-content;
  cursor: pointer;

  color: colors.get-color("grey-900");
  @include typography.body-s;
}
