@use "colors";
@use "spaces";
@use "typography";

.labelled-radio {
  display: flex;
  align-items: center;
  gap: spaces.get-space(150);

  min-width: fit-content;
  width: 100%;

  border: 1px solid colors.get-color("grey-500");
  border-radius: spaces.get-space(100);

  padding: spaces.get-space(150) spaces.get-space(300);

  cursor: pointer;

  background-color: colors.get-color("white");
  color: colors.get-color("grey-900");

  @include typography.body-m;

  &:hover {
    border-color: colors.get-color("green-600");
  }

  &:has(.input[type="radio"]:checked) {
    border-color: colors.get-color("green-600");
    background-color: colors.get-color("green-200");

    &:hover {
      background-color: colors.get-color("white");
    }
  }
}
