@use "colors";
@use "spacing" as *;
@use "typography";

.labelled-checkbox {
  display: flex;
  align-items: center;
  gap: s(200);

  color: colors.get-color("grey-900");

  @include typography.body-s;

  cursor: pointer;
}
