@use "colors";
@use "spacing" as *;
@use "typography";

.radio-button {
  display: flex;
  align-items: center;
  gap: s(150);

  min-width: fit-content;
  width: 100%;

  border: 1px solid colors.$grey-500;
  border-radius: s(100);

  padding: s(150) s(300);

  cursor: pointer;

  color: colors.$grey-900;
  background-color: colors.$white;

  @include typography.body-m;

  &:hover {
    border-color: colors.$green-600;
  }

  &:has(.input[type="radio"]:checked) {
    border-color: colors.$green-600;
    background-color: colors.$green-200;

    &:hover {
      background-color: colors.$white;
    }
  }
}
