@use "../colors";

.swatch {
  &__card {
    width: 352px;
    height: 125px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;

    @each $name, $value in colors.$all {
      &[data-bg-color=#{$name}] {
        background-color: $value;
      }
    }
  }

  &__name {
    color: colors.$grey-900;
  }
}
