@use "colors";
@use "spaces";
@use "layouts";

.swatch {
  @include layouts.l-column(spaces.get-space(300));

  &__card {
    border: 1px solid #d3d3d3;
    border-radius: 10px;

    width: 350px;
    height: 125px;
  }

  &__name {
    margin: 0;
    color: colors.get-color("grey-900");
  }
}
