@use "colors";
@use "spacing" as *;
@use "typography";

.text-field {
  display: flex;
  flex-direction: column;
  gap: s(100);

  &__label {
    color: colors.$grey-900;

    @include typography.body-s;

    cursor: pointer;
  }

  &:has(.input[data-state="dirty"][data-validity="invalid"]) {
    .text-field__error {
      color: colors.$red;
    }
  }
}
