@use "colors";
@use "spacing" as *;
@use "typography";

.toast {
  display: flex;
  flex-direction: column;
  gap: s(100);

  width: 100%;
  min-width: 210px;
  max-width: 450px;

  border-radius: s(150);
  padding: s(300);

  background-color: colors.get-color("grey-900");

  &__header {
    display: flex;
    align-items: center;
    gap: s(100);
  }

  &__title {
    color: colors.get-color("white");

    @include typography.body-m-bold;
  }

  &__body {
    color: colors.get-color("green-200");

    @include typography.body-s;
  }
}
