@use "config";
@use "lib/path";

@font-face {
  font-family: Karla;
  src: url(path.join(config.$base, "/fonts/Karla-VariableFont_wght.ttf")) format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
