@use "spaces";

@mixin l-column($gap: spaces.get-space(100)) {
  --l-column-gap: #{$gap};

  display: flex;
  flex-direction: column;
  gap: var(--l-column-gap);
}

@mixin generate-classes {
  .l-column {
    @include l-column;
  }
}
