@use "sass:meta";

$karla: Karla, sans-serif;

@mixin heading {
  font-family: $karla;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
}

@mixin body-m($is-bold: false) {
  font-family: $karla;
  font-weight: if($is-bold, bold, normal);
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;
}

@mixin body-m-bold {
  @include body-m(true);
}

@mixin body-s {
  font-family: $karla;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

@mixin generate-classes {
  @each $name in ["heading", "body-m", "body-m-bold", "body-s"] {
    .typography-#{$name} {
      @include meta.apply(meta.get-mixin($name));
    }
  }
}
