@use "colors" as *;
@use "spacing" as *;

.bg-grey-900 {
  background-color: get-color("grey-900");
}

.p-100 {
  padding: s(100);
}

.p-300 {
  padding: s(300);
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.absolute {
  position: absolute;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
