@use "config" with (
  $base: $base
);

@use "fonts";
@use "typography";
@use "colors";
@use "blocks/button";
@use "blocks/checkbox-field";
@use "blocks/icon";
@use "blocks/input";
@use "blocks/radio-field";
@use "blocks/swatch";
@use "blocks/text-field";

.required {
  color: colors.$green-600;
}

body {
  @include typography.body-m;
  color: colors.$grey-900;
}
