@use "config" with (
  $base: $base
);

@use "fonts";
@use "base";

@use "blocks/button";
@use "blocks/checkbox-field";
@use "blocks/icon";
@use "blocks/input";
@use "blocks/label";
@use "blocks/radio-button";
@use "blocks/radio-group";
@use "blocks/text-field";
@use "blocks/textarea";
@use "blocks/toast";

@use "colors";
@use "spacing" as *;
@use "typography";

body {
  margin: 0;
  padding: s(400) s(200);

  background-color: colors.$green-200;
  color: colors.$grey-900;

  @include typography.body-m;
}

.form {
  display: flex;
  flex-direction: column;
  gap: s(500);

  border-radius: s(200);
  padding: s(300);

  background-color: colors.$white;

  &__section {
    display: flex;
    flex-direction: column;
    gap: s(400);
  }

  &__title {
    margin: 0;

    @include typography.heading;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: s(300);
  }
}
