@use "config" with (
  $base: $base
);

@use "fonts";
@use "base";

@use "blocks/button";
@use "blocks/field";
@use "blocks/form";
@use "blocks/group";
@use "blocks/icon";
@use "blocks/input";
@use "blocks/label";
@use "blocks/labelled-checkbox";
@use "blocks/radio-button";
@use "blocks/textarea";
@use "blocks/toast";

@use "colors";
@use "spacing" as *;
@use "typography";

body {
  margin: 0;
  padding: s(400) s(200);

  background-color: colors.$green-200;
  color: colors.$grey-900;

  @include typography.body-m;
}
