@use "config" with (
  $base: $base
);

@use "fonts";
@use "base";

@use "blocks/button";
@use "blocks/field";
@use "blocks/group";
@use "blocks/icon";
@use "blocks/input";
@use "blocks/label";
@use "blocks/labelled-checkbox";
@use "blocks/radio-button";
@use "blocks/swatch";
@use "blocks/textarea";
@use "blocks/toast";

@use "colors";
@use "spacing" as *;
@use "typography";

.p-100 {
  padding: s(100);
}

.bg-grey-900 {
  background-color: colors.$grey-900;
}

body {
  color: colors.$grey-900;
  @include typography.body-m;
}
