---
import globalStylesUrl from "@/styles/index.scss?url";

import FilledForm from "@/sections/FilledForm.astro";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />

    <title>Filled State | Contact form | Frontend Workshop</title>

    <link rel="stylesheet" href={globalStylesUrl} />
  </head>
  <body>
    <FilledForm />
  </body>
</html>
