<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
    <base href={import.meta.env.BASE_URL} />

    <title>Contact form | Frontend Workshop</title>
  </head>
  <body>
    <h1>Contact form</h1>

    <p>A <a href="https://bradfrost.com/blog/post/a-frontend-workshop-environment/">frontend workshop environment</a> for the <a href="https://www.frontendmentor.io/challenges/contact-form--G-hYlqKJj">Contact form</a> Frontend Mentor challenge.</p>

    <ul>
      <li><a href="./components">Components</a></li>
      <li><a href="./main">Main Page</a></li>
      <li><a href="./success">Success State</a></li>
      <li><a href="./filled">Filled State</a></li>
      <li><a href="./error">Error State</a></li>
    </ul>
  </body>
</html>
