---
import Layout from "@/layouts/Base.astro";
---
<Layout>
  <h1>Contact form</h1>

  <p>A <a href="https://bradfrost.com/blog/post/a-frontend-workshop-environment/">frontend workshop environment</a> for the <a href="https://www.frontendmentor.io/challenges/contact-form--G-hYlqKJj">Contact form</a> Frontend Mentor challenge.</p>

  <ul>
    <li><a href="./colors">Colors</a></li>
    <li><a href="./components">Components</a></li>
    <li><a href="./main">Main Page</a></li>
    <li><a href="./success">Success State</a></li>
    <li><a href="./filled">Filled State</a></li>
    <li><a href="./error">Error State</a></li>
  </ul>
</Layout>
