---
import "@/styles/index.scss";
import Button from "@/components/Button.astro";
import Checkbox from "@/components/Checkbox.astro";
import Radio from "@/components/Radio.astro";
import Swatch from "@/components/Swatch.astro";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />

    <title>Contact form | Frontend Workshop</title>
  </head>
  <body>
    <h1>Contact form</h1>

    <h2>Checkbox</h2>

    <p><Checkbox /></p>
    <p><Checkbox isChecked /></p>

    <h2>Radio</h2>

    <p><Radio /></p>
    <p><Radio isChecked /></p>

    <p></p>

    <h2>Button</h2>

    <p><Button>Text</Button></p>

    <h2>Colors</h2>

    <Swatch name="Grey 900" color="grey-900" />
    <Swatch name="Grey 500" color="grey-500" />
    <Swatch name="White" color="white" />
    <Swatch name="Green 600" color="green-600" />
    <Swatch name="Green 200" color="green-200" />
    <Swatch name="Red (Errors)" color="red" />
  </body>
</html>
