---
import globalStylesUrl from "@/styles/index.scss?url";

import EmptyForm from "@/sections/EmptyForm.astro";
import SuccessToast from "@/sections/SuccessToast.astro";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />

    <title>Success State | Contact form | Frontend Workshop</title>

    <link rel="stylesheet" href={globalStylesUrl} />
  </head>
  <body>
    <SuccessToast />
    <EmptyForm />
  </body>
</html>
