---
import Checkbox from "@/components/Checkbox.astro";

const { isChecked = false, text = "Text" } = Astro.props;
---
<label class="checkbox-field">
  <Checkbox isChecked={isChecked} />
  <span>{text} <span class="required">*</span></span>
</label>
