---
import Checkbox from "@/components/Checkbox.astro";

const { isChecked = false } = Astro.props;
---
<label class="checkbox-field">
  <Checkbox isChecked={isChecked} />
  <span>Text <span class="required">*</span></span>
</label>
