---
import Label from "@/components/Label.astro";

const { id, title, Control, controlProps = {}, error, isRequired = true } = Astro.props;
---
<div class="field">
  {title && <Label {...{id, title, isRequired}} />}
  <Control
    {id}
    isDirty={error ? true : false}
    isValid={error ? false : true}
    {...controlProps}
  />
  {error && <div class="field__error">{error}</div>}
</div>
