---
import Label from "@/components/Label.astro";

const { id, title, isRequired = true, Control, error, ...rest } = Astro.props;
---
<div class="field">
  {title && <Label {...{id, title, isRequired}} />}
  <Control
    {id}
    data-is-dirty={error ? true : false}
    data-is-valid={error ? false : true}
    {...rest}
  />
  {error && <div class="field__error">{error}</div>}
</div>
