---
import Checkbox from "@/components/Checkbox.astro";

const { labelProps, text, isRequired = true, ...rest } = Astro.props;
---
<label class:list={["labelled-checkbox", labelProps?.class]}>
  <Checkbox {...rest} />
  <span>{text}{isRequired && <>&nbsp;<span class="required">*</span></>}</span>
</label>
