---
import Radio from "@/components/Radio.astro";

const { labelProps, text = "Text", ...rest } = Astro.props;
---
<label class:list={["labelled-radio", labelProps?.class]}>
  <Radio {...rest} />
  {text}
</label>
