---
import TextInput from "@/components/TextInput.astro";

const { id, error, title = "Title" } = Astro.props;
---
<div class="text-field">
  <label class="text-field__label" for={id ?? undefined}>{title}&nbsp;<span class="required">*</span></label>
  <TextInput
    id={id ?? undefined}
    isDirty={error ? true : false}
    isValid={error ? false : true}
  />
  {error && <div class="text-field__error">{error}</div>}
</div>
